[user]
    name = aitva
    email = aitva@pm.me

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@git.sr.ht:"]
    insteadOf = https://git.sr.ht/

[includeIf "gitdir:~/dev/gryzzly/"]
    path = ~/dev/gryzzly/.gitconfig
[pull]
	rebase = true
[core]
	quotePath = false
	commitGraph = true
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[gc]
	writeCommitGraph = true
