[user]
	name = aitva
	email = aitva@pm.me

[url "git@gitlab.com:gryzzlybot/"]
	insteadOf = https://gitlab.com/gryzzlybot/

[url "git@github.com:aitva/"]
	insteadOf = https://github.com/aitva/

[url "git@git.sr.ht:~aitva/"]
	insteadOf = https://git.sr.ht/~aitva/

[includeIf "gitdir:~/dev/gryzzly/"]
	path = ~/dev/gryzzly/.gitconfig

[pull]
	rebase = true

[core]
	quotePath = false
	commitGraph = true

[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for

[gc]
	writeCommitGraph = true

[tag]
    sort = -version:refname

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
