[user]
	name = aitva
	email = aitva@pm.me

[url "git@gitlab.com:gryzzlybot/"]
	insteadOf = https://gitlab.com/gryzzlybot/

[url "git@github.com:aitva/"]
	insteadOf = https://github.com/aitva/

[url "git@git.sr.ht:~aitva/"]
	insteadOf = https://git.sr.ht/~aitva/

[includeIf "gitdir:~/dev/gryzzly/"]
	path = ~/dev/gryzzly/.gitconfig

[pull]
    rebase = true

[merge]
    ff = no
    commit = no

[core]
	quotePath = false
	commitGraph = true

[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for

[gc]
	writeCommitGraph = true

[tag]
    sort = -version:refname

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true

[init]
    defaultBranch = main

[diff "jupyternotebook"]
    command = git-nbdiffdriver diff

[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
    name = jupyter notebook merge driver

[difftool "nbdime"]
    cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"

[difftool]
    prompt = false

[mergetool "nbdime"]
    cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[mergetool]
	prompt = false
