[user]
    name = Louis AROD
    email = louis@gryzzly.io
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPNLO2799Ru+W/qLPXcPCOhVujNqIBp7dFCNrXyijT5d

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/opt/1Password/op-ssh-sign"

[commit]
	gpgsign = true
